.skillsHeading{
    display:inline-block;
    font-size: 4.5rem;
    font-family: 'Encode Sans SC';
    color:#FF1E56;
}

@media screen and (max-width: 980px) {
    .skillsHeading{
        font-size: 3.5rem;
    } 
}

@media screen and (max-width: 768px) {
    .skillsHeading{
        font-size: 2.8rem;
    } 
}